.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.form-check {
    position: relative;
    left: -145px;
}

.form-control {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.form-check-input:focus {
    border-color: #95A5A6;
    box-shadow: 0 0 0 1rem rgba(255, 193, 7, 0.25);
}

.form-label {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 25px;
    font-weight: 500;
}

.eyeicon {
    position: relative;
    top: -45px;
    left: 415px;
    font-size: 25px;
    color: #95A5A6;
    cursor: pointer;
}

.password {
    position: relative;
    left: -20px;
}

.admin_text {
    font-size: 35px;
    position: relative;
    left: 180px;
    font-family: 'Boogaloo', cursive;
}

.alert {
    margin-top: -30px;
}

button:hover {
    transform: scale(1.1);
}

input {
    background-color: aliceblue;
}

input:focus {
    background-color: aliceblue;
    border: solid 3px #2ecc71;
}

input:hover {
    background-color: aliceblue;
    transform: scale(1.02);
}

label {
    color: aliceblue;
}
