.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}

.form-check{
    position: relative;
    left: -145px;
}

.btn{
    background-color: #3498D8;
}

.form-control:focus {
    border-color: #2ECC71;
    box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.25); 
}

.form-check-input:focus{
    border-color: #95A5A6;
    box-shadow: 0 0 0 1rem rgba(255, 193, 7, 0.25); 
}

.eyeicon{
    position: relative;
    top: -45px;
    left: 415px;
    font-size: 25px;
    color: #95A5A6;
    cursor: pointer;
}

.password{
    position: relative;
    left: -20px;
}

.admin_text{
    font-size: 35px;
    position: relative;
    left: 180px;
    font-family: 'Boogaloo', cursive;
}